.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightSection {
  width: 350px;
  margin-right: 70px;
}

.profileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  border-color: rgb(47, 51, 54);
  border-right-width: 1px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
}

.profileHeader {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
}

.backBtn {
  min-width: 56px;
}

.idAndPosting {
  margin-left: 10px;
  line-height: 1.5;
}

.idAndPosting > div {
  font-size: 13px;
  color: rgb(113, 118, 123);
}

.profileBody {
  flex: 1;
  position: relative;
}

.myInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: darkgreen;
}

.background {
  width: 598px;
  height: 200px;
}

.backgroundImg {
  object-fit: cover;
  object-position: center;
}

.introduce {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 16px;
  padding: 12px 16px 0;
}

.profileImgBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.profileImg {
}

.feedBox {
  background-color: darkkhaki;
}
