.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.leftSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.leftSection {
  position: relative;
  min-height: 0px;
  padding: 0 8px;
  width: 275px;
}

.leftSectionFixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100%;
}

.leftSectionFixed nav {
  flex: 1;
}
.leftSectionFixed nav li {
  list-style-type: none;
}

.postButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 16px 0;
  padding: 18px 0;
  background-color: rgb(29, 155, 240);
  border: none;
  border-radius: 28px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  font-weight: 700;
  font-size: 17px;
}

.postButton:hover {
  background-color: rgb(26, 140, 216);
}

.rightSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  height: 100dvh;
}

.rightSectionInner {
  display: flex;
  flex-grow: 1;
  width: 1050px;
  height: 100%;
}

.main {
  width: 100%;
}
