.postForm {
  display: flex;
  width: 100%;
  padding: 16px 16px 8px;
  border-color: rgb(239, 243, 244);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
@media (prefers-color-scheme: dark) {
  .postForm {
    border-color: rgb(47, 51, 54);
  }
}

.postUserSection {
  margin-right: 10px;
}

.postingSection {
  flex-grow: 1;
}

.postInputSection {
  width: 100%;
  flex-grow: 1;
  overflow: hidden auto;
}

.input {
  width: inherit;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: #71767b;
  font-size: 20px;
  line-height: 24px;
}

.postButtonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: rgb(29, 155, 240, 0.01);
  border: 0;
  border-radius: 17px;
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

.uploadButton svg {
  fill: rgb(29, 155, 240);
}

.postButton {
  padding: 8px 15px;
  background-color: rgb(29, 155, 240);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 18px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.postButton:hover {
  background-color: rgb(26, 140, 216);
}
.postButton:disabled {
  opacity: 0.5;
}
