.logoutButton {
  display: flex;
  align-items: center;
  width: 258px;
  height: 66px;
  padding: 12px;
  margin: 12px 0;
  cursor: pointer;
  border: none;
  text-align: left;
}
.logOutButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 33px;
}

.logoutUserImage {
  display: flex;
  align-items: center;
}
.logoutUserImage img {
  width: 40px;
  border-radius: 50%;
}
.logoutUserName {
  margin: 0 12px;
}
.logoutUserName > div:first-child {
  font-weight: bold;
}
