.navList {
  display: inline-flex;
  padding: 12px;
  align-items: center;
}

.navList:hover {
  background-color: rgba(15, 20, 25, 0.1);
  border-radius: 29px;
}

.navList > div {
  margin-left: 20px;
  margin-right: 16px;
  font-size: 20px;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}
