.search {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 42px;
  border-radius: 21px;
  background-color: rgb(32, 35, 39);
  margin-top: 5px;
  margin-bottom: 12px;
}

.search svg {
  margin-left: 20px;
  fill: rgb(83, 100, 113);
}

.search input {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 12px;
  margin-left: 5px;
  font-size: 15px;
  flex-grow: 1;
}
